<script>
import { GlButton, GlAlert } from "@gitlab/ui";
import { submitRequest } from "../api";

export const INVALID_MESSAGE_ERROR = "Only letters and spaces are allowed!";
const LETTERS_ONLY_REGEX = /^[A-Za-z\s]+$/;

export default {
  INVALID_MESSAGE_ERROR,
  components: {
    GlButton,
    GlAlert,
  },
  data() {
    return {
      message: "",
      isSent: false,
    };
  },
  props: {
    requests: {
      type: Array,
      required: true,
      validator: (request) => request.every((r) => typeof r === "string"),
    },
  },
  computed: {
    hasMessage() {
      return this.message.length;
    },
    isMessageValid() {
      return LETTERS_ONLY_REGEX.test(this.message);
    },
  },

  methods: {
    async send(e) {
      e.preventDefault();
      const status = await submitRequest(this.message);
      if (status === "success") {
        this.isSent = true;
      }
    },
    updateMessage(e) {
      this.message = e.target.value;
    },
  },
};
</script>

<template>
  <main
    class="gl-w-full gl-display-flex gl-align-items-center gl-flex-direction-column"
  >
    <gl-alert v-if="isSent" variant="success" @dismiss="isSent = false"
      >Thank you! We'll get in touch!</gl-alert
    >
    <h1 class="gl-h-1 gl-my-5">Send us a message!</h1>

    <form class="contact-form" @submit="send">
      <select class="gl-form-select custom-select">
        <option v-for="(requestType, index) of requests" :key="index">
          {{ requestType }}
        </option>
      </select>

      <div class="gl-my-3">
        <input
          class="gl-form-input form-control"
          :value="message"
          @input="updateMessage"
          type="text"
        />
        <span
          v-if="hasMessage && !isMessageValid"
          class="gl-display-block gl-text-red-500"
        >
          {{ $options.INVALID_MESSAGE_ERROR }}
        </span>
      </div>

      <gl-button variant="info" :disabled="!isMessageValid" type="submit">
        Send
      </gl-button>
    </form>
  </main>
</template>
